<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">Company Logo</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-item>Help</b-nav-item>
                    <b-nav-item><b-icon icon="question"></b-icon></b-nav-item>
                    <b-nav-item><b-icon icon="bell"></b-icon></b-nav-item>
                    <b-nav-item><b-avatar size="width:20px;height:20px" src="https://placekitten.com/20/20"></b-avatar></b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>
<script>
    export default {}
</script>
