<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <b-card class="mt-5">
                    <Split style="height: 400px;" ref="mySplit" :gutterSize="gutterSize">
                        <SplitArea v-show="firstDiv" :size="secondDiv ? 50 : 100">
                            <b-card class="mr-3">
                                <div slot="header">
                                    <div class="btn-group float-right">
                                        <button class="btn btn-sm btn-primary" @click="closeSecond">
                                            <b-icon icon="arrows-fullscreen"></b-icon>
                                        </button>
                                        <button class="btn btn-sm btn-danger" @click="closeOne">
                                            <b-icon icon="x"></b-icon>
                                        </button>
                                    </div>
                                </div>
                                <div id="One" title="Firebase Add Data" class="mr-5 mt-5">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Class</th>
                                        </tr>
                                        <tr>
                                            <td><input type="text" v-model="student.name" name="name"
                                                       class="form-control">
                                            </td>
                                            <td><input type="text" v-model="student.age" name="age"
                                                       class="form-control">
                                            </td>
                                            <td><input type="text" v-model="student.class" name="class"
                                                       class="form-control">
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="btn-group">
                                        <b-button v-if="!editMode" variant="primary" @click="saveData">Save</b-button>
                                        <b-button v-if="editMode" variant="primary" @click="updateData">Update
                                        </b-button>
                                        <b-button v-if="editMode" variant="danger" @click="clear">Clear</b-button>
                                    </div>
                                </div>
                            </b-card>
                        </SplitArea>
                        <SplitArea v-show="secondDiv" :size="firstDiv ? 50 : 100">
                            <b-card class="ml-3">
                                <div slot="header">
                                    <div class="btn-group float-right">
                                        <button class="btn btn-sm btn-primary" @click="closeOne">
                                            <b-icon icon="arrows-fullscreen"></b-icon>
                                        </button>
                                        <button class="btn btn-sm btn-danger" @click="closeSecond">
                                            <b-icon icon="x"></b-icon>
                                        </button>
                                    </div>
                                </div>
                                <div id="Two" title="Firebase Data" class="ml-5 mt-5">
                                    <hot-table :data="students" :colHeaders="true">
                                        <hot-column title="Name" data="name"></hot-column>
                                        <hot-column title="Age" data="age"></hot-column>
                                        <hot-column title="Class" data="class"></hot-column>
                                    </hot-table>
                                </div>
                            </b-card>
                        </SplitArea>
                    </Split>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
  import {db} from '../database/db';
  import {HotTable, HotColumn} from '@handsontable/vue';

  export default {
    data() {
      return {
        students: [],
        editMode: false,
        student: {name: '', age: '', class: ''},
        firstDiv: true,
        secondDiv: true,
        gutterSize: 5
      }
    },
    components: {
      HotTable, HotColumn
    },
    watch: {
      students: {
        deep: true,
        handler(data) {
          for (let student of data) {
            db.collection("students").doc(student.id).set(student);
          }
        }
      },
      firstDiv(old) {
        if (!old) {
          this.gutterSize = 0;
        } else {
          this.gutterSize = 5;
        }
      },
      secondDiv(old) {
        if (!old) {
          this.gutterSize = 0;
        } else {
          this.gutterSize = 5;
        }
      }
    },
    methods: {
      saveData() {
        db.collection("students").add(this.student);
        this.clear();
        this.$toaster.success('Successfully Added.')
      },
      clear() {
        this.student = {name: '', age: '', class: ""};
        this.editMode = false;
      },
      checkDisplay(d) {
        return this.panel.includes(d);
      },
      changeMode(d) {
        this.panel = d;
      },
      closeOne() {
        this.firstDiv = !this.firstDiv;
      },
      closeSecond() {
        this.secondDiv = !this.secondDiv;
      }
    },
    firestore() {
      return {
        students: db.collection('students').orderBy("name")
      }
    },
  }
</script>
<style>
    .wtHolder {
        height: 100px !important;
    }
</style>
