<template>
    <div id="app">
        <Header></Header>
        <HelloWorld/>
    </div>
</template>

<script>
  import HelloWorld from './components/HelloWorld.vue'
  import Header from './components/Header'

  export default {
    name: 'App',
    components: {
      HelloWorld,Header
    }
  }
</script>
